<!DOCTYPE html>

<html Lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>山姆籃球</title>
	<link rel="icon" href="../static/images/logo.png" type="image/icon">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/custom.css">

	<script src="../static/js/popper.min.js"></script>
	<script defer src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/custom.js"></script>


	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
	<!-- <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
	<link ref="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"> -->
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"> <img src="../static/images/logo.png" class="icon">山姆籃球 SamBasketballTW</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a id="index" class="nav-link active" href="/">首頁</a>
					<a id="contract" class="nav-link" href="/contract">合約</a>
					<a id="draft" class="nav-link" href="/draft">選秀</a>
					<a id="trade" class="nav-link" href="/trade">交易</a>
				</div>
			</div>
		</div>
	</nav>
</body>


</html>